[submodule "packages/haskell-mode"]
	path = packages/haskell-mode
	url = git@github.com:10haskell/haskell-mode.git
[submodule "packages/structured-haskell-mode"]
	path = packages/structured-haskell-mode
	url = git@github.com:chrisdone/structured-haskell-mode.git
[submodule "packages/ghci-ng"]
	path = packages/ghci-ng
	url = git@github.com:chrisdone/ghci-ng.git
[submodule "packages/hindent"]
	path = packages/hindent
	url = git@github.com:chrisdone/hindent.git
[submodule "packages/smex"]
	path = packages/smex
	url = git@github.com:nonsequitur/smex.git
[submodule "packages/magit"]
	path = packages/magit
	url = git@github.com:magit/magit.git
[submodule "packages/git-modes"]
	path = packages/git-modes
	url = git@github.com:magit/git-modes.git
[submodule "packages/haskell-docs"]
	path = packages/haskell-docs
	url = git@github.com:chrisdone/haskell-docs.git
